{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block monTitre %}
Page d'administration
{% endblock %}

{% block body %}

{% for message in app.flashes('success') %} <!-- Affichage du message de succès stocké en session-->
    <div class='alert alert-success'>
        {{message}}
    </div>
{% endfor %}

<a class="btn btn-success" href="{{path('admin_timbres_creation')}}">Ajouter</a>
<table class="table">
    <tr class="table-primary">
        <td>Image</td>
        <td>Nom</td>
        <td>Annee</td>
        <td>Valeur</td>
        <td>Actions</td>
    </tr>
    {% for timbre in timbres %}
    <tr>
        <td><img src="{{asset('images/' ~ timbre.image)}}" class="perso_imgTimbreAdmin"></td>
        <td><strong>{{timbre.nom}}</strong></td>
        <td>{{timbre.annee}}</td>
        <td>{{timbre.valeur}}</td>
        <td>
        <a class="btn btn-secondary" href="{{path('admin_timbres_modification',{'id' : timbre.id})}}">Modifier</a>
            <form method="POST" onsubmit="return confirm('Confirmer la suppression ?')" style="display:inline-block" action="{{path('admin_timbre_suppression', {'id' : timbre.id})}}">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ timbre.id)}}">
                <!-- Protection de la suppression grace à la génération d'un token pour s'assurer que l'action est bien effectuée depuis ce formulaire et ce bouton -->
                <input type="submit" class="btn btn-danger" value="Supprimer">
            </form>
        </td>
    </tr>
    {% endfor %}

{% endblock %}
